* {
    border: none;
    margin: 0;
    padding: 0;
}
.item {
  width: 100%;
  margin-bottom: 26px;
}

.item a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.item img {
  border-radius: 22px;
  transition: all 0.2s;
  width: 18%;
  height: 150px;
  object-fit: cover;
}

.item img:hover {
  transform: scale(0.99);
}
.item p {
  margin-left: 50px;
}
.item p.title {
  font-size: 18px;
  font-weight: 500;
}
.item .description {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
}
.item:nth-child(n+6) .description {
    margin-top: 0px;
}

.item .description .category {
  margin-left: 4px;
}
